<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    html {
        height: 100%;
    }
    
    body {
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;
        font-family: 'Lato' !important;
        padding: 10px;
        height: 100%;
        overflow: hidden;
    }
    
    *,
    *::after {
        box-sizing: border-box;
        margin: 0;
    }
    
    body {
        color: #454f54;
        background-color: #f4f5f6;
        background-image: linear-gradient(to bottom left, #abb5ba, #d5dadd);
    }
    
    .ticket {
        display: flex;
        flex-direction: column;
        max-width: 55rem;
        border: 6px solid #9d8c7a;
        padding: 5px;
        margin: 0 auto;
    }
    
    .inner-border {
        border: 3px solid #9d8c7a;
    }
    
    .text-center {
        text-align: center;
    }
    
    .display-4 {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
    
    .text-muted {
        color: #6c757d!important;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    
    .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .col-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    
    .ticket__header,
    .ticket__body,
    .ticket__footer {
        padding: 10px;
        background-color: white;
        border: 1px solid #abb5ba;
        box-shadow: 0 2px 4px rgba(41, 54, 61, 0.25);
    }
    
    .ticket__left_body {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: black;
        background: repeating-linear-gradient( 130deg, transparent, transparent 15px, #eae1d8 10px, #eae1d8 34px), linear-gradient(to bottom, #f8f5ee, #f5f2eb);
    }
    
    .mb-3 {
        margin-bottom: 1rem;
    }
    
    .mb-2 {
        margin-bottom: 1rem;
    }
    
    .ls-15 {
        letter-spacing: 20px;
    }
    
    .ls-5 {
        letter-spacing: 5px;
    }
    
    .hr-text {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        color: black;
        text-align: center;
        height: 1.5em;
        opacity: 0.5;
    }
    
    .hr-text:before {
        content: "";
        background: linear-gradient(to right, transparent, #818078, #fdfef8);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
    }
    
    .hr-text:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;
        padding: 0 0.5em;
        line-height: 1.5em;
        color: #818078;
        background-color: #fcfcfa;
    }
    
    .text-label {
        color: #9d8e7b;
        background-color: #eae1d8;
        padding: 4px;
    }
    
    .text-input {
        font-weight: 600;
        color: #686666;
    }
    
    .text-upper {
        text-transform: uppercase;
    }
    
    .ticket__header {
        font-size: 1.5rem;
        border-bottom: none;
        box-shadow: none;
        padding: 0 5px;
        text-align: center;
    }
    
    .ticket__wrapper {
        box-shadow: 0 2px 4px rgba(41, 54, 61, 0.25);
        border-radius: 0.375em 0.375em 0 0;
        overflow: hidden;
    }
    
    .ticket__divider {
        position: relative;
        height: 1rem;
        background-color: white;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    
    .ticket__divider::after {
        content: "";
        position: absolute;
        height: 50%;
        width: 100%;
        top: 0;
        border-bottom: 2px dashed #e9ebed;
    }
    
    .ticket__notch {
        position: absolute;
        left: -0.5rem;
        width: 1rem;
        height: 1rem;
        overflow: hidden;
    }
    
    .ticket__notch::after {
        content: "";
        position: relative;
        display: block;
        width: 2rem;
        height: 2rem;
        right: 100%;
        top: -50%;
        border: 0.5rem solid white;
        border-radius: 50%;
        box-shadow: inset 0 2px 4px rgba(41, 54, 61, 0.25);
    }
    
    .ticket__notch--right {
        left: auto;
        right: -0.5rem;
    }
    
    .ticket__notch--right::after {
        right: 0;
    }
    
    .ticket__body {
        border-bottom: none;
        border-top: none;
    }
    
    .ticket__body>*+* {
        margin-top: 1.5rem;
        padding-top: 1.5rem;
        border-top: 1px solid #e9ebed;
    }
    
    .ticket__section>*+* {
        margin-top: 0.25rem;
    }
    
    .ticket__section>h3 {
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
    }
</style>

<body>
    <div style="margin: 10px auto;width: 100%;">
        <article class="ticket">
            <div class="inner-border">
                <div class="row">
                    <div class="col-8">
                        <header class="ticket__wrapper">
                            <div class="ticket__header">
                                <hr class="hr-text" data-content="*">
                                <h1 class="display-4 ls-15 text-upper">MYRONJA</h1>
                                <p class="text-muted ls-5 text-upper">ELEGANEWITHAGLOW</p>
                                <hr class="hr-text">
                            </div>
                        </header>
                        <div class="ticket__body">
                            <section class="text-center">
                                <h5 style="font-size: 2.5rem;font-weight: 300;line-height: 1.2;height: 90px;">Gift 500kr.</h5>
                            </section>
                        </div>
                        <footer class="ticket__footer" style="border-top-width: 0;">
                            <hr class="hr-text" data-content="Now, go get your glow">
                        </footer>
                    </div>
                    <div class="col">
                        <div class="ticket__left_body">
                            <section class="ticket__left_section text-center">
                                <section class="ticket__left_section text-center">
                                    <div class="div-wrapper mb-2">
                                        <p class="text-label">Customer:</p>
                                        <p class="text-input">40210628</p>
                                    </div>
                                    <div class="div-wrapper mb-2">
                                        <p class="text-label">Valid until:</p>
                                        <p class="text-input">01/12-2021</p>
                                    </div>
                                    <div class="div-wrapper mb-2">
                                        <p class="text-label">Order number:</p>
                                        <p class="text-input">803598547</p>
                                    </div>
                                </section>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </article>

    </div>
    <!-- <div class="container" style="text-align: center;">
        <img src="/images/translated.jpg" alt="x">
    </div> -->
    <article class="ticket">
        <div class="inner-border">
            <div class="row">
                <div class="col-8">
                    <header class="ticket__wrapper">
                        <div class="ticket__header">
                            <hr class="hr-text" data-content="*">
                            <h1 class="display-4 ls-15 text-upper">MYRONJA</h1>
                            <p class="text-muted ls-5 text-upper">ELEGANEWITHAGLOW</p>
                            <hr class="hr-text">
                        </div>
                    </header>
                    <div class="ticket__body">
                        <section class="text-center">
                            <h5 style="font-size: 2.5rem;font-weight: 300;line-height: 1.2;height: 90px;">Gift 500kr.</h5>
                        </section>
                    </div>
                    <footer class="ticket__footer" style="border-top-width: 0;">
                        <hr class="hr-text" data-content="Now, go get your glow">
                    </footer>
                </div>
                <div class="col">
                    <div class="ticket__left_body">
                        <section class="ticket__left_section text-center">
                            <section class="ticket__left_section text-center">
                                <div class="div-wrapper mb-2">
                                    <p class="text-label">Customer:</p>
                                    <p class="text-input">40210628</p>
                                </div>
                                <div class="div-wrapper mb-2">
                                    <p class="text-label">Valid until:</p>
                                    <p class="text-input">01/12-2021</p>
                                </div>
                                <div class="div-wrapper mb-2">
                                    <p class="text-label">Order number:</p>
                                    <p class="text-input">803598547</p>
                                </div>
                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </article>

</body>

</html>